#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box {
  background: lightGrey;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 10px;
}
